<h1><%= @entry.word %></h1>

<% @word_list.each do |entry| %>
<h4><%= entry.definition.join %></h4>
<% end %>

<form action="/<%= @entry.word %>" method="post">
  <div class="form-group">
    <label for="definition">Definition: </label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>
