<h1><%= @entry.word %></h1>
<h1><%= @entry.definition.join %></h1>

<!-- each loop still doesn't work here for some reason -->


<form action="/<%= @entry.word %>" method="post">
  <div class="form-group">
    <label for="definition">Definition: </label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>
