<h1><%= @entry.word %></h1>

<h4><u>definitions:</u></h4>
<% @entry.definitions.each do |definition| %>
<h5><%= definition %></h5>
<% end %>

<form action="/<%= @entry.word %>" method="post">
  <div class="form-group">
    <label for="definition">Definition: </label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>
